*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,#ff0066,#ffcce0,#fff);
}

.App{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

h1{
    margin-bottom: 20px;
}

button{
    width: 65px;
    height: 40px;
    margin: 0 5px 0 5px;
    background-color: #ff0066;
    border-radius: 5px;
    border: 1px solid #ff0066;
    font-size: 25px;
    color: #fff;
}

button:active{
    background-color: #ffcce0;
    border: 1px solid #ffcce0;
    color: #ff0066;
}

.flex {
    display: flex;
}